*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Century Gothic, sans-serif;
}

body{
    background-color: black;
}

/* utiliser les pourcentages permet au site de s adapter en cas de reduction de l ecran : la responsivite a venir   */
.header{
    height: 80px;
    margin-top: 45px;
    background-color: white;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}
/* la on centre le bloc menu deja cree et on le met au milieu : genre le bloc menu est carrement au milieu et prend  100% de la hauteur du header qui fait 80px  */
.menu{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

/* la aussi on centre le bloc ul sur le bloc menu et on lui donne 100% de sa largeur et de sa hauteur  et faire attention au pourcentages  */
.menu ul{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    height: 100%;
}
.left-menu, .right-menu{
    display: flex;
}

li a{
    margin: 15px;
    text-decoration: none;
    font-size: 20px;
    color: black;
}

ul{
    list-style: none;
}
